body {
    padding: 2em;
}

.BL_logo {
    width: 15%;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(253, 251, 251);
    font-weight: bold;
    padding: 10px;
    color: black;
}

.footerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(172, 214, 172);
    font-weight: bold;
    padding: 30px;
}

.mainContainer {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.mainContentItem {
    text-align: left;
    border: 5px solid rgb(144, 241, 152);
}

article {
    padding: 10px;
    margin: 10px;
    background-color: rgb(227, 253, 108);
}

.sideBarLeftItem {
    background: rgb(3, 235, 243);
}

.sideBarRightItem {
    background: rgb(8, 238, 238);
}

.sideBarItem {
    flex: 1 0 0;
    border: 5px solid rgb(176, 162, 240);
}

.mainContentItem {
    flex: 3 0px;
}

.sideBarLeftItem {
    order: 1;
}

.mainContentItem {
    order: 2;
}

.sideBarRightItem {
    order: 3;
}